body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#images-list-card {
    min-width: 800px;
    width: 95vw;
    margin-top: 20px;
}

.dataTables_info {
    padding-top: 8px !important;
}

table.dataTable {
    margin: 0 !important;
    width: 100% !important;
}
